    <div class="container col-md-11">
      <br>
      <br>
      <br>
      <div class="jumbotron py-3 fundoJumb" style="background-color: black;">
        <h1 class="display-4 text-center TextJumb" style="color: white;">Curso</h1>
      </div>
      <form type="hidden" novalidate autocomplete="off" #form="ngForm" (submit)="onSubmit(form)">
        <input type="hidden" name="cursoId" [value]="ServiceCurso.formCurso.cursoId" />
        <div class="form-row">



          <div class="form-group col-md-6">
            <!-- <label style="color: rgb(0, 0, 0);">{{this.ServiceCurso.formCurso.categoriaFk}}</label> -->


            <!-- <div class="form-group col-md-12"> -->
              <label for="categoria">Categoria: </label>
              <select class="form-control form-control-lg" aria-label="Default select example" (click)="getCategoriaFk()" id="cmbCategoria"
                name="categoria" type="text" #categoria="ngModel" [(ngModel)]="ServiceCurso.formCurso.categoriaFk" required
                [class.invalid]="categoria.invalid && categoria.touched">
                <option selected>Selecione uma categoria</option>
                <option *ngFor="let ct of ServiceCategoria.list" value="{{ct.categoriaId}}">
                  {{ct.nome}}
                </option>
              </select>
            <!-- </div> -->
          </div>

          <div class="form-group col-md-6">
            <label>Qtd Alunos</label>
            <input class="form-control form-control-lg" placeholder="Informe a Quantidade de Alunos"
              name="qtdAlunos" type="number" #qtdAlunos="ngModel"
              [(ngModel)]="ServiceCurso.formCurso.qtdAlunos"
              [class.invalid]="qtdAlunos.invalid && qtdAlunos.touched">
          </div>

          <div class="form-group col-md-12">
            <label>Descrição: </label>
            <input class="form-control form-control-lg" placeholder="Digite a Descrição do Curso" name="descricao" type="text"
              #descricao="ngModel" [(ngModel)]="ServiceCurso.formCurso.descricao" required
              [class.invalid]="descricao.invalid && descricao.touched">
          </div>
          <div class="form-group col-md-6">
            <label>Data de Início: </label>
            <input class="form-control form-control-lg" placeholder="DD/MM/AAAA" name="dataInicio" type="date"
               #dataInicio="ngModel" [(ngModel)]="ServiceCurso.formCurso.dataInicio" required
              [class.invalid]="dataInicio.invalid && dataInicio.touched">
          </div>
          <div class="form-group col-md-6">
            <label>Data de Término: </label>
            <input class="form-control form-control-lg" placeholder="DD/MM/AAAA" name="dataTermino" type="date"
               #dataTermino="ngModel" [(ngModel)]="ServiceCurso.formCurso.dataTermino" required
              [class.invalid]="dataTermino.invalid && dataTermino.touched">
          </div>
        </div>
        <div class="form-group col-md-12">
          <button class="btn  btn-danger btn-lg btn-block" type="submit"
            [disabled]="form.invalid">Adicionar</button>
        </div>
      </form>
    </div>

<!-- ----------------------------------------------------------- -->
<div class="form-inline">
  <div class="form-group mb-2">
    <label class="mr-2"></label>

    <input type="text"
    class="form-control mr-2"
    placeholder="Buscar"
    [(ngModel)]="filtroLista">

    <!-- <button class="btn btn-outline-sucess">Buscar</button> -->
  </div>
</div>
<!-- <h3>Filtro: {{filtroLista}}</h3> -->

<table class="table table-striped">
  <thead style="color: white;">
    <tr style="background-color: black">
      <th>Id</th>
      <th>Descrição</th>
      <th>Data de início</th>
      <th>Data de término</th>
      <th>Qtd de alunos</th>
      <th>Categoria</th>
      <th></th>
    </tr>
  </thead>
  <tbody *ngIf="curso && curso.length">
    <tr *ngFor="let curso of cursosFiltrados">
      <td (click)="populateForm(curso)">{{curso.cursoId}}</td>
      <td (click)="populateForm(curso)">{{curso.descricao}}</td>
      <td (click)="populateForm(curso)">{{curso.dataInicio | date: 'dd/MM/yy'}}</td>
      <td (click)="populateForm(curso)">{{curso.dataTermino | date: 'dd/MM/yy'}}</td>
      <td (click)="populateForm(curso)">{{curso.qtdAlunos}}</td>
      <td (click)="populateForm(curso)">{{curso.categoriaFk}}</td>
      <td>
        <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(curso.cursoId)"></i>
      </td>
    </tr>
    <br>
    <br>
    <br>
    <br>
    <br>
    <button class="btn btn-danger" [routerLink]="['/Home']" >Voltar</button>
  </tbody>
  <tfoot>
    <tr *ngIf="!curso.length">
      <td colspan="8">
        <h4>Nenhum curso cadastrado</h4>
      </td>
    </tr>
  </tfoot>
</table>

<hr>

<!-- {{curso | json}} -->
