<br>
<br>
<div class="text-center" style="color: white;background-color: black;">
    <div class="container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3  class="masthead-brand">Manter Cursos</h3>
          <nav class="nav nav-masthead justify-content-center">
          </nav>
        </div>
      </header>
      <main role="main" class="inner cover">
        <h1  class="cover-heading">Bem vindo!</h1>
        <p  class="lead">
          <button type="button" class="btn btn-lg btn-danger"><a style="color: white" class="btn-link" [routerLink]="['/Cursos']">Cadastre um curso</a></button>
        </p>
     </main>
</div>
<br>
<br>
<br>
<br>
